//====================================
// Media Queries
//====================================
@media (min-width:992px) {
    .header .bar {
        grid-template-columns: 30% 1fr 30%;
        grid-template-rows: unset;
        justify-content: space-around;
    }
    .menu {
        display: grid;
        grid-column: 3 / 4;
        align-content: center;
    }
    .us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        text-align: left;
    }
}

@media (min-width:768px) {
    .sale {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    .footer .container {
        display: grid;
        grid-template-columns: 30% 20% 2fr;
        grid-column-gap: 2rem;
    }
}