//====================================
// Colors
//====================================
$primary: #7abe47;
$secondary: #ffc845;
$black: #000;
$white: #fff;
$gray: #eee;
$darkGreen: #57a42b;
//====================================
// Sizes
//====================================
$padding: 1rem;
$padding1: 2rem;